<!DOCTYPE html>
<html>
    <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../style/style.css">
<script src="/js/api.js"></script>
<title>Groupie-tracker</title>
    </head>
    <body>
        <main class="page">
            <div class="window">
                <div class="window-title">
                    <span>■ GROUPIE-TRACKER.exe</span>

                    <div class="window-buttons">
                        <button>[X]</button>
                    </div>
                </div>
                <iframe name="content" src="content.html"></iframe>
            </div>
        </main>
    </body>
    </html>